/* .client-card {
    width: 200px;
    background-color: white;
    margin: 10px;
    border: 2px solid ;
    text-align: center;
    
  }
  
  .client-logo {
   aspect-ratio: 3/2;
   object-fit: contain;
   width: 100%;
  } */

  /* .clientCardContainer {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
  }
   */
  .client-card {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px 10px;
  }
  
  .client-logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 25%;
    margin: 10px;
  }
 
  h3 {
    font-size: 16px;
    margin: 0;
  }
  @media (min-width:990px){
    .client-card{
      width: 100%;
      margin: 10px 10px;
    }
  }