.clientCardContainer {
  padding: 2rem 0;
}
.ClientCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ClientCard img {
  width: 50%;
  display: block;
  margin: auto;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.ClientCard h3 {
  padding: 10px 0;
}
.directorContent {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .directorContent h2,
  h3 {
    text-align: center;
  }
  .ClientCard img{
    width: 100%;
  }
  .clientCardContainer{
    padding: 1rem 0;
  }
}
