.clientCardContainer img {
  width: 70%;
  display: block;
  margin: auto;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.clientCardContainer h3 {
  text-align: center;
}
.directorContent {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .directorContent h2,
  h3 {
    text-align: center;
  }
}
