.AnimatedStackCards {
  padding: 2rem 6rem;
  position: relative;
}

.cardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  transition: 0.5s;
}
.cardHeader img {
  padding: 10px 20px;
  transition: 0.5s;
}
.cardHeader:hover {
  cursor: pointer;
  padding: 20px 0;
  transition: 0.5s;
}
.cardHeader:hover img {
  border-radius: 0;
  transform: rotateY(180deg);
  transition: 0.5s;
}
.serviceTitle {
  color: rgb(188, 119, 66);
}
.cardHeader:hover p {
  color: black;
}

.AnimatedStackCards .ant-row .ant-col:nth-child(2) .cardHeader,
.AnimatedStackCards .ant-row .ant-col:nth-child(3) .cardHeader,
.AnimatedStackCards .ant-row .ant-col:nth-child(6) .cardHeader,
.AnimatedStackCards .ant-row .ant-col:nth-child(7) .cardHeader {
  background-color: whitesmoke;
}

.allServicesSection {
  background-image: url(/images/4872987.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.stackCardCollapse ul li {
  font-size: 16px;
  font-weight: 550 !important;
}
.serviceModal {
  padding: 30px;
}
.serviceModal p {
  text-align: justify;
}
.serviceModal ul li {
  font-size: 16px;
  font-weight: 550 !important;
}
.cardHeader {
  display: flex;
}
.ant-modal .ant-modal-close {
  color: black;
}
.even {
  background-color: whitesmoke;
}
.serviceTagline {
  font-size: 15px;
}

@media (max-width: 769px) {
  .cardHeader img {
    padding: 10px 20px;
  }
  .AnimatedStackCards {
    padding: 1rem 2rem;
  }
  .serviceTitle {
    padding: 0 10px;
  }
  .serviceTagline {
    font-size: 13px;
    padding: 0 10px;
  }
  .ant-row {
    margin: 0;
  }
  .serviceModal .serviceTitle {
    padding: 10px 0;
  }
}
@media (max-width: 576px) {
  .cardHeader img {
    padding: 10px;
    padding-left: 20px;
  }
}
@media (max-width: 990px) {
  .AnimatedStackCards .ant-row .ant-col:nth-child(2) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(4) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(6) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(8) .cardHeader {
    background-color: whitesmoke;
  }
  .AnimatedStackCards .ant-row .ant-col:nth-child(1) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(3) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(5) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(7) .cardHeader,
  .AnimatedStackCards .ant-row .ant-col:nth-child(9) .cardHeader{
    background-color: white;
  }
}
