#servicesSection {
  background-color: whitesmoke;
  background-image: url("./AboutUsBack.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#servicesSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255 255 255 / 90%);
  /* White overlay with 50% transparency */
  z-index: 0;
  pointer-events: none;
  /* Ensures overlay doesn’t interfere with content */
}


.servicesiconbox {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 0.5s;
  border: 2px solid whitesmoke;
  /* position: absolute;
    right: 10px;
    top: 10px; */
}

.servicesiconbox img {
  width: 100%;
}

.servicesCards {
  background-color: white;
  margin: 5px;
  padding: 30px 20px;
  height: 230px;
  /* height: 45vh; */
  transition: 0.5s;
  border-bottom: 2px solid transparent;
  transition: 0.7s;
}

.servicesCards:hover {
  border-bottom: 2px solid black;
  transition: 0.7s;
}

.servicesCards:hover .servicesiconbox {
  background-color: white;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.servicesCards p {
  margin-top: 10px;
}

.servicecontainerRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.servicesSingleBox {
  width: 33%;
  position: relative;
}

#WhyUssection {
  padding: 0px;
}

@media (min-width: 700px) and (max-width: 980px) {
  .servicesCards {
    background-color: white;
    margin: 10px;
    padding: 20px;
  }

  .servicesSingleBox {
    width: 50%;
    position: relative;
  }
}
.hoverableTags h1{
  text-align: center;
  line-height: 55px;
}
.hoverableTags h1 span{
  cursor: pointer;
  font-size: 30px;
  margin: 0px 5px;
  border-bottom: 3px solid black;
  text-transform: uppercase;
}
.hoverableTags h1 span:hover{
  color: rgb(188,119,66);
}

.New-About {
  min-height: 60vh;
  /* padding: 1.5rem 0rem; */
  /* padding-top: 1.5rem; */
  /* background-image: url("/images/4940019.jpg"); */

  background-size: cover;
  background-repeat: no-repeat;

}

.expertiseCards {
  padding-top: 2rem;
}

@media (max-width: 700px) {
  .hoverableTags{
    display: none;
  }
  .servicesCards {
    background-color: white;
    margin: 10px;
    padding: 20px;
  }

  .servicesSingleBox {
    width: 100%;
    position: relative;
  }
}

.servicesiconbox img {
  animation: scaleAnimation 2s infinite alternate;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}