.Herosectionadjust {
  display: flex;
  height: 100vh;
  position: relative;
}

#StructuraHeroSection {
  padding: 0px;
}

.left-side-container {
  width: 30%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0);
  background-size: cover;
  background-position: center;
}

.content-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.content-container .content {
  position: absolute;
  left: 50px;
  width: 50%;
  bottom: 10%;
}

.content-container .content h4 {
  font-size: 3rem;
  color: white;
  font-weight: 300;
  animation: colorChange 5s infinite;
}
@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: #bc7742;
  }
  100% {
    color: white;
  }
}

.scrollDownBtnContainer {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  margin-top: -20px;
  /* bottom: 200px;  */
  z-index: 6666;
  border: 1px solid white;
  animation: scrollAnimation 2s infinite;
}

@keyframes scrollAnimation {
  0% {
    top: calc(65% - 5px);
  }

  50% {
    top: calc(65% + 5px);
  }

  100% {
    top: calc(65% - 5px);
  }
}

.fade {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade-exit {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.right-side-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
}

.right-side-image-container .imageOverlay,
.left-side-container .imageOverlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.587);
}

.slidesImg-container {
  height: 100vh;
  overflow: hidden;
}

.zoom-animation {
  animation: zoomInOut 30s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.slidesImg-container img {
  width: 100%;
  height: 100%;
}

.view-only-Mobile {
  display: none;
}

#MySwiper {
  height: 100vh;
}

.BottomContactContainer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #c2c2c2a3;
  font-size: 13px;
}

.BottomContactContainer a {
  color: #c2c2c2a3;
}

.BottomContactContainer > div {
  padding: 0px 30px;
}

.BottomContactContainer > div h4 {
  text-align: center;
}

.BottomContactContainer > div h4 span {
  color: white;
}

.BottomContactContainer > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media (max-width: 800px) {
  .content-container .content h4 {
    font-size: 1.2rem;
  }

  .content-container .content {
    width: 90%;
    left: 10px;
    bottom: 50px;
  }

  .scrollDownBtnContainer {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    margin-top: 10px;
    display: none;
    z-index: 6666;
    border: 1px solid white;
    animation: scrollAnimation 2s infinite;
  }

  .Herosectionadjust {
    display: flex;
    height: 100%;
    position: relative;
  }

  .BottomContactContainer {
    display: none;
  }

  .right-side-image-container .imageOverlay,
  .left-side-container .imageOverlay {
    height: 40vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.587);
  }

  .slidesImg-container {
    height: 40vh;
    overflow: hidden;
  }

  #MySwiper {
    height: 40vh;
  }

  .left-side-container {
    display: none;
    width: 0px;
    transition: 0.5s;
  }

  .right-side-image-container {
    width: 100%;
    transition: 0.5s;
  }
}
