.Herosectionadjust {
    display: flex;
    height: 100vh;
    position: relative;

}

#StructuraHeroSection{
    padding: 0px;
}


/* leftsidecontainer css -----------------------------------------*/
.left-side-container {
    width: 30%;
    height: 100%;
    position: relative;
    background-color: black;
}

.left-side-container .content-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.left-side-container .content-container .content {
    position: absolute;
    right: -300px;
}

.left-side-container .content-container .content h4 {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 300;
}

@keyframes scrollAnimation {
    0% {
      top: calc(65% - 5px); /* Initial position */
    }
    50% {
      top: calc(65% + 5px); /* Move down by 5px halfway through the animation */
    }
    100% {
      top: calc(65% - 5px); /* Return to the initial position at the end */
    }
  }
  
  .scrollDownBtnContainer {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    right: -23px;
    top: 65%;
    z-index: 6666;
    border: 1px solid white;
    animation: scrollAnimation 2s infinite; /* Apply the animation */
  }
  

/* rightsidecontainer css -----------------------------------------*/
.right-side-image-container {
    width: 70%;
    height: 100%;
    position: relative;
    transition: .5s;
}

/* .right-side-image-container img{
    width: 100%;
} */
.right-side-image-container .imageOverlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.587);
}

.slidesImg-container {
    height: 100vh;
    overflow: hidden;
}

.zoom-animation {
    animation: zoomInOut 30s infinite alternate;
    /* Zoom in and out animation for 3s with infinite loop */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        /* Initial scale */
    }

    50% {
        transform: scale(1.1);
        /* Zoom in halfway through the animation */
    }

    100% {
        transform: scale(1);
        /* Return to original scale at the end */
    }
}

.slidesImg-container img {
    width: 100%;
    height: 100%;
}

@media (max-width:800px){
    .left-side-container{
        display: block;
        width: 0px;
        transition: .5s;
    }
    .right-side-image-container{
        width: 100%;
        transition: .5s;
    }
}