.About-Row {
  /* margin: 3rem 0rem; */
  /* border-top:1px solid black; */
  /* border-bottom: 1px solid black; */
  border-right: 0.5px solid rgba(0, 0, 0, 0.51);
  border-left: 0.5px solid rgba(0, 0, 0, 0.51);
  overflow: hidden;
  padding: 2rem 5rem;
}
.row1 {
  /* border-top: 1px solid black; */
  background-color: rgba(255, 255, 255, 0.477);
  z-index: 13000;
}
.row2{
  background-color: rgba(245, 245, 245, 0.521);
  z-index: 11;

}
.row3{
  background-color: rgba(255, 255, 255, 0.488);
  z-index: 10;

}
.About-img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
}
.About-img img {
  /* height: 100%; */
  width: 100%;
}

.About-content {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}
.About-content h1 {
  color: rgb(188, 119, 66);
}
.About-content p {
  padding-top: 0px;
  text-align: justify;
  margin: 0;
  color: black;
}
.row1 .About-img {
  align-items: flex-start;
}
.row2 .About-img {
  height: 100%;
  justify-content: center;
}

.row3 .About-img {
  align-items: flex-start;
}

@media (max-width: 769px) {
  .About-img img {
    width: 100%;
  }
  .row2 {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .About-Row {
    /* margin: 0.5rem 0; */
    margin: 0;
    padding: 2rem ;
  }
  .About-content{
    padding: 0.5rem 0;
  }
}
@media (max-width: 576px) {
  .About-content {
    justify-content: unset;
    padding: 1rem 0 !important;
  }
  .About-content p {
    font-size: 15px;
  }
}
