.PositionImageAjust img {
    width: 100%;
    /* position: absolute;
    left: 30%;
    top: 20px; */
    height: 100%;
    object-fit: cover;

}

.PositionImageAjust {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle farthest-side at 0% 100%, white, transparent);
    width: 60%;
}

.AboutInfoContainer {
    display: flex;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* gap: 20px; */
    background-color: white;
    padding: 20px;
}

.ContentContainerAbout {
    position: sticky;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40%;
    border-left: 1px solid rgb(188, 119, 66);
    border-top: 1px solid rgb(188, 119, 66);
    padding-left: 20px;
    background-image: radial-gradient(circle farthest-side at 0% 100%, white, transparent);
    padding-bottom: 20px;
    padding-right: 20px;
}

.ContentContainerAbout h2 {
    font-size: 35px;
    margin-bottom: 2rem;
}

@media (max-width:769px) {
    .PositionImageAjust {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(circle farthest-side at 0% 100%, white, transparent);
        width: 100%;
        /* padding-top: 20px; */
    }

    .ContentContainerAbout {
        position: sticky;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        border-left: 1px solid rgb(188, 119, 66);
        border-top: 1px solid rgb(188, 119, 66);
        padding-left: 10px;
    }

    #AboutUsHomeContainer {
        padding: 3rem 1rem;
    }

    .AboutInfoContainer {
        display: flex;
        height: 100%;
        position: relative;
        overflow: hidden;
        flex-direction: column;

    }

    .PositionImageAjust {
        margin-top: 2rem;
    }

    .PositionImageAjust img {
        width: 100%;
        position: static;
        left: 30%;
        top: 20px;
    }
}