/* General styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s, height 0.3s;
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 1.5rem;
    margin: 0;
    color: black;
  }
  
  .nav-toggler {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 20; /* Ensure it is above other elements */
    position: relative;
    /* Adjust button position to stay within borders */
    margin-right: 20px;
  }
  
  /* Menu styling */
  .nav-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure it is above other elements */
    opacity: 0; /* Start with hidden menu */
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition */
    transform: translateY(-20px); /* Start with slightly shifted menu */
  }
  
  /* Menu visibility for small screens */
  .nav-menu.open {
    display: flex; /* Show menu when button is clicked */
    opacity: 1; /* Fade in menu */
    transform: translateY(0); /* Move to its position */
  }
  
  /* Responsive styles */
  @media (min-width: 992px) {
    .nav-menu {
      display: none; 
      position: static;
      flex-direction: row;
      background-color: transparent;
      box-shadow: none;
      width: auto;
    }
  
    .nav-menu ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
  
    .nav-menu li {
      padding:0 10px;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .nav-menu li a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
    }
  }
  