.contactImageContainer {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactImageContainer img {
  width: 70%;
}
.contactTextContainer {
  padding: 4rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contactTextContainer h1 {
  color: rgb(188, 119, 66);
  padding-bottom: 2rem;
}
.contactTextContainer p {
  padding-top: 10px;
  margin: 0;
  color: black;
  text-align: justify;
}
.contactTextContainer a {
  color: black;
}
.contactTextContainer a:hover{
    color: rgb(188, 119, 66);
}
@media (max-width: 769px) {
  .contactTextContainer {
    padding: 2rem 3rem;
  }
  .contactImageContainer{
    /* padding:0 3rem; */
    /* justify-content: unset; */
    /* text-align: justify; */
  }
  .contactImageContainer img{
    width: 75%;
  }
}
