#commonHerosection {
    padding: 0px;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.imageContainer {
    height: 100%;
}

.imageContainer img {
    width: 100%;
    height: 100%;

}

.contentContainer {
    position: absolute;
    z-index: 4;
}

.contentContainer .content h4 {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 300;
}

.commonHerosectionOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.539);
    z-index: 3;
    height: 70vh;

}

.imageContainerWithText {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksNames {
    text-align: center;
    margin: 20px 0px;
}

.linksNames a {
    font-size: 20px;
}