#SwiperSliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
/* 
.continuesCarousalItems .icons span {
    background-color: black;
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
} */
 .continuesCarousalItems{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .continuesCarousalItems .icons{
    width: 100px;
    object-fit: cover;
    aspect-ratio: 3/2;
   
   
 }
 .continuesCarousalItems .icons img{
    width: 50%;
 }