@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-family: "PT Sans", sans-serif;
}

p {
    margin: 0px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #535c62;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: "PT Sans", sans-serif;
}

ul li {
    font-family: "PT Sans", sans-serif;
    color: #535c62;
}

.sectionPadding {
    padding: 1rem 0rem;
}

section {
    padding: 2rem 3rem;
}

.sectionHeading {
    margin-bottom: 20px;
    font-size: 58px;
    font-weight: 500;
    margin-top: 10px;
}

.bigHeading {
    font-size: 40px;
    font-weight: 400;
    color: rgb(188,119,66);
}

.openBtn,
.closedBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 10px 0px;
    cursor: pointer;
    transition: .5s;
}

.openBtn:hover,
.closedBtn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 10px 0px;
    cursor: pointer;
    transition: .5s;
}

.commomBtn {
    height: 40px;
    border: none;
    width: 150px;
    font-size: 18px;
    background-color: rgb(188,119,66);
    color: rgb(255, 255, 255);
    margin: 10px 0px;
    cursor: pointer;
    transition: .5s;
}

.commomBtn:hover {
    height: 40px;
    border: 1px solid rgb(188,119,66);
    width: 150px;
    background-color: transparent;
    color: rgb(188,119,66);
    margin: 10px 0px;
    cursor: pointer;
    transition: .5s;
}

.structuranavigationContainer .PrimaryBlackBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: none;
    padding: 10px 30px;
    border-radius: 3px;
}

.structuranavigationContainer.scrolled .PrimaryBlackBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
}

.DualTopHeading span {
    font-size: 40px;
    font-weight: 300;
}

.DualTopHeading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 2rem;
}

@media (max-width:600px) {
    .DualTopHeading {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .DualTopHeading span {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    section {
        padding: 1rem 0.5rem;
    }

    .sectionPadding {
        padding: 0.2rem 0rem;
    }

}
