 .projectLinksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.projectLinksContainer a{
  font-size: 2rem;
  color: white;
  margin: 50px auto;
}

.imageContainer1 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 500px;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  gap: 5px; 
}

.imageWrapper img {
  width: 33.33%;
  transition: width 1s ease-in-out;
  object-fit: cover; 
  height: 500px;
}
.imageWrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.imageWrapper img.hovered {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.imageWrapper img.collapsed {
    width: 0;
    
}
.projectTitle{
  text-align: center;
  
}
